<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Thermostat</title>
  <script src='src/thermostat.js'></script>
  <script src='src/jQuery.js'></script>
  <script src='src/interface1.js'></script>
  <link rel='stylesheet' type='text/css' href='stylesheets/thermostat.css'>
</head>
<body>
  <div>
    <h1 id="temperature-display"><%= @temp %></h1>
    <h3 id='psm-display'></h3>
    <!-- <img src="#" alt="Leaf" id='psm-img'> -->
  </div>
  <div class='control-btns'>
    <button id='up-btn'>UP</button>
    <button id='down-btn'>DOWN</button>
    <button id='reset-btn'>RESET</button>
    <button id='psm-btn'>PSM</button>
  </div>

  <p id='temp'></p>

</body>
</html>
